@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Global reset and defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;                                                                                /* Added */
}

body {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('arriere.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-attachment: fixed;
    backdrop-filter: blur(5px); /* Effet de flou sur l'arrière-plan */
                                                                                                  /* added these */
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre légère pour le texte */
}
/* h2 {
    text-align: start;
    font-size: 1.7rem;
    margin: 10px;
    color: #fff;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); Ombre légère pour le texte 
} */

/* Form styling */
.input-container,form, #result,#prediction-result {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8); /* Arrière-plan semi-transparent */
    padding: 30px;
    border-radius: 10px;
}

label{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}


input[type="number"]{
    width: calc(100% - 22px); 
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 9px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #444;
    transition: border-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.9); /* Arrière-plan semi-transparent */
}

input[type="number"]:focus {
    outline: none;
    border-color: #888;
}

button {
    width: calc(100% - 22px); /* Pour tenir compte du padding */
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1.1rem;
    margin: 9px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(128,128,128);
}


/* Prediction result
#prediction-result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
} */




/* 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Form styling 
form, #result {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}

input[type="file"],
input[type="number"] {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #444;
    transition: border-color 0.3s ease;
}

input[type="file"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #888;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1.1rem;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Prediction result 
#prediction-result {
    margin-top: 20px;
    font-weight: bold;
    color: #555;
} */

/* Prediction result
#prediction-result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
} */




/* 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Form styling 
form, #result {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}

input[type="file"],
input[type="number"] {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #444;
    transition: border-color 0.3s ease;
}

input[type="file"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #888;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1.1rem;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Prediction result 
#prediction-result {
    margin-top: 20px;
    font-weight: bold;
    color: #555;
} */








.dropdown {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 90%;
    height: 50px;
    background: #003399;
    color: #fff;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.dropdown .left-icon,
.dropdown .right-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 5px;
    background: #fff;
    border-radius: 40px;
    transition: .5s;
}

.dropdown .left-icon {
    left: 7px;
    transform: rotate(45deg);
}

.dropdown.active .left-icon {
    transform: rotate(135deg);
}

.dropdown .right-icon {
    transform: rotate(-45deg);
}

.dropdown.active .right-icon {
    transform: rotate(-135deg);
}

.dropdown-placeholder {
    height: 0;
    transition: height 0.5s ease;
}


.dropdown .items {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    visibility: hidden; 
    transition: max-height 0.5s ease, visibility 0s linear 0.5s; 
}

.dropdown.active .items {
    visibility: visible;
    max-height: 600px;
    transition: max-height 0.5s ease; 
}


.dropdown .items a {
    position: relative;
    left: 100%;
    display: flex;
    font-size: 20px;
    background: #fff;
    color: #003399;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 2.5px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    transition-delay: calc(60ms * var(--i));
}

.dropdown.active .items a {
    left: 0;
}

.dropdown .items a:hover {
    color: #fff;
}

.dropdown .items a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0074e0;
    z-index: -1;
    border-radius: inherit;
    transform: rotate(160deg);
    transform-origin: right;
    transition: .5s;
}

.dropdown .items a:hover span {
    transform: rotate(0deg);
}




input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin: 20px;
    transition: background-color 200ms;
  }
  
  
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  

  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }

  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#addParam {
    width: 200px;
    height: 65px;
    background-color: green;
}

#addParam:hover {
    background-color: #45a049;
}

#removeParam {
    width: 200px;
    height: 65px;
    background-color: red;
}

#removeParam:hover {
    background-color: rgb(255, 65, 65);
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
